@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Roboto:wght@300&display=swap');

*{
  margin:0 ;
  padding:0 ;
  box-sizing: border-box
}

body{
  background-color:#5ae0f2;
}

nav{
  background-color: #28f075;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  position: fixed;
  padding: 20px;
  text-align: center;
}

nav a {
  padding: 15px;
  color: black;
  font-size: 20px;
}

@media only screen and (max-width: 400px){
  body{
    background-color: lightblue;
  }
}

h1{
  text-align: center;
  color: #fff;
  font-size: 40px;
  padding: 20px;
}

h3{
  padding-left: 8px;
  
  
}

.card{
  background-color: #fff;
  height: 200px;
  width: 500px;
  display: inline-block;
  border-radius: 20px;
}
.parent {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.child {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
  margin-right: 150px;
}

#spacing{
  padding-bottom: 0px;
}
#flex-main {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
/* #image {
  display: inline-block;
  padding: 1rem 1rem;
  margin-top: -50px;
  margin-right: 1000px;
} */